body {
    width: 90%;
    margin: 3% auto 0 auto;
    text-align: center;
}

h1 {
    padding: 2% 0;
}

.results {
    width: 80%;
    margin: 0 auto;
}

.red {
    color: red;
}

.onethird {
    width: 33%;
    float: left;
}

.onethird p:nth-child(even), .results p:nth-child(even) {
    background-color: rgb(238, 238, 238);
}