<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nocni red {% block title %}{% endblock %}</title>
        <link href="{% static 'css/reset.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>