{% extends "nocnired/base.html" %}

{% block content %}

<form method="POST" action="/">
    {% csrf_token %}
    <input name ="query" type="search" placeholder="upisite pretragu"/>
</form>
{% if error %}
<p>{{ error }}</p>
{% endif %}

{% if results %}    
    {% with results|first as result %}
      <h1>{{result.tram_num}} smjer {{result.direction|capfirst}}  {{ result.day }}</h1>
    {% endwith %}
    <div class="results">
    {% for result in results %}  
    
       <p>{{ result.time_insert }}</p>       
    
    {% endfor %} 
    </div>       
{% endif %} 

{% endblock %}

