{% extends "nocnired/base.html" %}

{% block content %}

<form method="POST" action="/">
    {% csrf_token %}
    <input name ="query" type="search" placeholder="upisite pretragu"/>
</form>

    {% if results %}
      <h1 class="red">{{ results.0.0.tram_num}} smjer {{ results.0.0.direction|capfirst }}</h1>

      {% for day in results %}
        <div class="onethird">
          <h1>{{ day.0.day|capfirst }}</h1>

          {% for t in day %}
            <p>{{ t.time_insert}}</p>
          {% endfor %}
        </div>   

      {% endfor %}
    {% endif %}
    <div class="clearfix"></div>

    {% if results_t %}
      <h1 class="red">{{ results_t.0.0.tram_num}} smjer {{ results_t.0.0.direction|capfirst }}</h1>

      {% for day in results_t %}
        <div class="onethird">
          <h1>{{ day.0.day|capfirst }}</h1>

          {% for t in day %}
            <p>{{ t.time_insert}}</p>
          {% endfor %} 
        </div> 
      {% endfor %}
    {% endif %}


{% endblock %}

